.dataTables_filter {
    display: none;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info {
    margin-top: 12px;
}

.table {
    margin-bottom: 0px;
}

#cat_list_length,
#cat_list_info {
    display: none;
}

thead {
    background: #ddd;
    }

.dataTables_empty{
        text-align: center;
      }