{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="d-flex align-items-center pt-2">
    <div class="mx-auto col-10 col-md-8 col-lg-6 px-5 py-4 bg-white rounded">
    <form class="row g-3" action="{% url 'add_contact' sup_id=sup_id %}" method="POST" enctype="multipart/form-data" id="my-form">
        {% csrf_token %}
        <h4>Add Contact Person</h4>
        <div class="col-md-12">
            <label for="inputCPFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputCPFirstName" placeholder="Enter First Name" name="cont_per_fname" required>
        </div>
        <div class="col-md-12">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name" name="cont_per_lname" required>
        </div>
        <div class="col-md-12">
            <label for="inputMobileNumber" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" id="inputMobileNumber" placeholder="Enter Mobile Number" name="cont_per_mobile" required>
        </div>
        <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email Address" name="cont_per_email" required>
        </div>
        <div class="col-md-12">
            <label for="inputFacebookLink" class="form-label">Facebook Link</label>
            <input type="url" class="form-control" id="inputFacebookLink" placeholder="Enter Facebook Link" name="cont_per_fb_acc" required>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="{% url 'supplier_list' %}" class="btn btn-primary">Skip</a>
        </div>
</form>
</div>
</div>
{% endblock content %}