{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="mb-4">Forgot Password</h3>
            </div>
          </div>
          <form class="login-form" action="{% url 'custom_password_reset' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
              <input type="text" class="form-control rounded-left" placeholder="Email" name="emailaddress" required>
            </div>
            <p>Enter your e-mail address to obtain new password</p>
            </div>
            <div class="form-group mt-4">
              <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary rounded submit">Send Email</button><br>
                <a href="{% url 'user_login' %}">Back</a>
              </div>
            </div>
          </form>
          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/popper.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        </div>
      </div>
    </div>
  </div>
</section>
{% if success_message %}
  <script>
    // Display SweetAlert notification
    Swal.fire({
      title: 'Password Reset Email Sent',
      text: '{{ success_message }}',
      icon: 'success',
      confirmButtonText: 'OK'
    });
  </script>
{% endif %}
</body>
</html>
